module.exports = {
	deploy: {
		default: 'myDefaultDeployment',
		myDefaultDeployment: {
			ftp: {
				host: 'ftp.my-target-site.com',
				user: 'mylogin',
				pass: 'mypassword',
				remotePath: 'my/dir',
			},
			// The development URL of the website.
			// Example: http://localhost:8000/app/
			url: 'xxxxx'
			base: '/xxx/yyyy/'
		},
	},
};
