@import './variable';
body {
    color: $textColor;
}

header {
    background-color: $primaryColor;
    color: white;
    a {
        color: white;
        text-decoration: none;
        &.active {
            border-color: white;
        }
    }
}

footer {
    a {
        color: white;
    }
}

my-image {
    background-image: url('../img/css/compass-white.svg');
}

.accueil my-image {
    background-image: url('../img/css/compass-white.svg');
}

.accueil header {
    background-color: $primaryColor;
    color: white;
    a {
        color: white;
    }
}

.jumbo {
    background-color: $primaryColor;
    color: white;
    a {
        color: white;
        text-decoration: none;
    }
}

a {
    color: $linkColor;
}

section {
    background-color: $sectionColor;
}

ul {
    margin: 1em 3em;
}

button,
.button {
    &:hover {
        background-color: hsla(0, 0%, 100%, 0.2);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $titleColor;
}

@media only screen and (max-width: 768px) {
    .architect {
        .menu-item {
            font-size: 1.5em;
            color: $primaryColor;
            text-align: center;
        }
    }
}

.introduce.first-time h3,
.introduce.first-time h4 {
    animation: introduce 2s forwards;
}

@keyframes introduce {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

body.loading {
    will-change: opacity;
    animation: fadein 1s forwards;
}
