# Set the default handler.
DirectoryIndex index.html

RewriteEngine On
<IfModule mod_ssl.c>
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

# If search engine crawler (facebook for seo), then redirect to prerendered website.
RewriteCond %{HTTP_USER_AGENT} (facebookexternalhit/[0-9]|Twitterbot|Pinterest|Google.*snippet)
RewriteCond %{REQUEST_URI}  ^/app/$
RewriteRule !^crawler-prerender crawler-prerender/index.html [L]

# If search engine crawler (facebook for seo), then redirect to prerendered website.
RewriteCond %{HTTP_USER_AGENT} (facebookexternalhit/[0-9]|Twitterbot|Pinterest|Google.*snippet)
RewriteCond %{REQUEST_URI}  ^/app/(.*)$
RewriteRule !^crawler-prerender crawler-prerender/%1.html [L]


# If an existing asset or directory is requested go to it as it is
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]

# If the requested resource doesn't exist, use index.html
RewriteRule ^ ./index.html
