@import '../css/variable';

jlg-facebook-share {
    display: block;
    background-color: white;
    width: 100%;
    overflow-x: hidden;
    padding: 1em;
    text-align: center;
    button {
        display: inline-block;
        border: none;
        border-radius: 0.1em;
        padding: 0.5em;
        font-size: 2em;
        color: white;
        background-color: hsl(225, 37%, 50%);
        &:hover {
            background-color: hsl(225, 37%, 43%);
        }
    }
}