jlg-photo-thumbnail {
    >div {
        position: relative;
        width: 100%;
        padding-top: 75%;
        overflow: hidden;
        background-color: #eee;
        >img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-height: 100%;
            max-width: 100%;
            opacity: 0;
            transition: opacity 1s;
        }
    }
    figcaption {
        margin-bottom: 2em;
    }
    overlay {
        display: none;
    }
    &.active {
        overlay {
            display: block;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: black;
            text-align: center;
            z-index: 3;
            >img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-height: 100%;
                max-width: 100%;
                animation: fadein 1s;
            }
        }
    }
    &.loaded {
        >div {
            >img {
                opacity: 1;
            }
        }
    }
}