<article>
	<section>
		<div class="container">
			<h1>Nos clients</h1>
			<p>Nous indiquons ici seulement nos clients publics, les clients privés souhaitant
				la plupart rester sous confidence.
			</p>
			<h2>Public</h2>
			<h3>Mairies</h3>
			<table class="table">
				<tr>
					<th>Nom</th>
					<th>Code postal </th>
					<th>Année</th>
				</tr>
				<tr ng-repeat="client in $ctrl.mairies | orderBy : 'name'" class="table-row" ng-click="$root.gotoState('realisations:client', {client: client.slug})">
					<td><a ui-sref="realisations:client({client: client.slug})"></a>{{client.name}}</td>
					<td>{{client.zip}}</td>
					<td>{{client.year}}</td>
				</tr>
			</table>
		</div>
	</section>
	<section class="parallax">
		<jlg-parallax landscape="'img/photo/clients-landscape.jpg'" portrait="'img/photo/clients-portrait.jpg'"></jlg-parallax>
	</section>
	<section>
		<div class="container">
			<h3>Autres entités publiques</h3>
			<table class="table">
				<tr>
					<th>Nom</th>
					<th>Code postal </th>
					<th>Année</th>
				</tr>
				<tr ng-repeat="client in $ctrl.autresEntitesPubliques | orderBy : 'name'" class="table-row"
				    ng-click="$root.gotoState('realisations:client', {client: client.name})">
					<td>{{client.name}}</td>
					<td>{{client.zip}}</td>
					<td>{{client.year}}</td>
				</tr>
			</table>
		</div>
	</section>


</article>
