<article>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1>{{$ctrl.category}}</h1>
				</div>
			</div>
		</div>

		<div class="container">

			<div class="row mb-4rem" ng-repeat="trio in $ctrl[chapter.key + 'Trios']" ng-show="$ctrl[chapter.key + 'Trios'].length > 0">
				<div class="col-4 realisation-item" ng-repeat="project in trio">
					<jlg-thumbnail href="'.' + project.url" src="project.data.image.thumbnail" caption="project.data.title"></jlg-thumbnail>
				</div>
			</div>
		</div>
	</section>
</article>
