<article>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1>{{$ctrl.category.value}}</h1>
					<p>{{$ctrl.category.description}}</p>
				</div>
			</div>
		</div>

		

		<div class="container">
			<div class="row mb-4rem" ng-repeat="trio in $ctrl.trios">
				<div class="col-4 realisation-item" ng-repeat="project in trio">
					<jlg-thumbnail class="center" href="'.' + project.url" src="project.data.image.thumbnail" caption="project.data.title"></jlg-thumbnail>
				</div>
			</div>
		</div>

		
	</section>
</article>
