<article>
	<section>
		<div class="container">
			<h1>Réalisation : {{$ctrl.data.title}}</h1>
			<h2>Présentation</h2>
			<table class="table">
				<tr>
					<td>Maîtrise d'ouvrage</td>
					<td>
						<a ng-if="$ctrl.data.moa.url" ng-href="{{$ctrl.data.moa.url}}" target="_blank">
							{{$ctrl.data.moa.name}}
						</a>
						<span ng-if="!$ctrl.data.moa.url">
							{{$ctrl.data.moa.name}}
						</span>
					</td>
				</tr>
				<tr ng-if="$ctrl.data.classement">
					<td>Monuments historiques</td>
					<td>
						{{$ctrl.data.classement}}
					</td>
				</tr>
			</table>
			<my-text ng-bind-html="$ctrl.data.text"></my-text>

		</div>
	</section>
	<section class="parallax">
		<jlg-parallax landscape="$ctrl.data.image.main" portrait="$ctrl.data.image.portraitMain"></jlg-parallax>
	</section>
	<section>

		<div class="container">
			<h2>Interventions</h2>
			<table class="table">
				<tbody ng-repeat="intervention in $ctrl.data.interventions">
					<tr>
						<td>
							<b>{{intervention.year}}</b>
						</td>
						<td>{{intervention.title}}</td>
					</tr>
					<tr ng-if="intervention.missions">
						<td>Missions</td>
						<td>
							{{intervention.missions | join}}
						</td>
					</tr>
				</tbody>

			</table>
		</div>
	</section>
</article>
